[Unit]
Description=Symmetria Portal FileChooser backend
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=dbus
BusName=org.freedesktop.impl.portal.desktop.symmetria
ExecStart=%h/.local/share/symmetria/portal-venv/bin/python3 /usr/lib/symmetria/symmetria_portal.py
Restart=on-failure

[Install]
WantedBy=graphical-session.target
